<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Amazon Clone</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <% include ./partials/navbar %>

        <%- body -%>

            <% include ./partials/footer %>

                <% include ./partials/scripts %>


</body>

</html>