<%- layout ('layout') -%>


    <div class="jumbotron">
        <div class="container">
            <h1>Ultimate Shopping Experience!</h1>
            <p>You're in luck. You've just arrived at the ultimate shopping experience here at Amazonish, the ultimate clone of Amazon on the internetz.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Smart Shopping</h2>
                <p>Items will magically appear in your cart, the smart way. Put your own items in here or ask for suggestions. We're always here to help!</p>
            </div>
            <div class="col-md-4">
                <h2>Build Stuff</h2>
                <p>Whether you are looking to custom mod your toilet or build a special wheelchair ramp for grandpa, we've got you covered!</p>
            </div>
            <div class="col-md-4">
                <h2>Super Search</h2>
                <p>Using super complicated algorythms, you have access to the most advanced search engine this side of a library catalog. Use it wisely!</p>
            </div>
        </div>